{{session['user']}}
<br>
{{session['role']}}
{% for event in events %}
    <div style="border:1px solid">
        <h1>{{event.event_name}}</h1>
        <p>{{event.capacity}}</p>
        <p>{{event.location}}</p>
        <p>{{event.price_per_location}}</p>
        <p style="{% if event.status %} color:green {% else %} color:red {% endif %}">
            {% if event.status %}
                available
            {% else %}
                booked
            {% endif %}
        </p>
    </div>
{% endfor %}

<a href="/addevent">Add a event</a>
<a href="/createadmin">Create a admin</a>