<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post" action="/register">
      <label for="username">Enter Your Username</label>
      <input id="username" type="text" name="username">
        <br>
      <label for="password">Enter Your Password</label>
      <input id="password" type="password" name="password">
        <br>
            <input type="hidden" name="role" value="{{role}}">
        <input type="submit">
    </form>
</body>
</html>